n8n-workflows/06-business-intelligence-CLOUD.json
{
  "name": "Globul Cars - Business Intelligence & Admin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-login",
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-webhook1adminlogin",
      "name": "Webhook - Admin Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "admin-login-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-action",
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-webhook2adminaction",
      "name": "Webhook - Admin Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500],
      "webhookId": "admin-action-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analytics-viewed",
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-webhook3analytics",
      "name": "Webhook - Analytics Viewed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 700],
      "webhookId": "analytics-viewed-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "system-alert",
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-webhook4alert",
      "name": "Webhook - System Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 900],
      "webhookId": "system-alert-webhook"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst { action, adminId, data, timestamp } = inputData;\n\nconst adminActionTypes = {\n  'admin_login': { category: 'security', riskLevel: 'medium' },\n  'admin_action': { category: 'management', riskLevel: 'high' },\n  'analytics_viewed': { category: 'monitoring', riskLevel: 'low' },\n  'system_alert': { category: 'incident', riskLevel: 'critical' }\n};\n\nconst actionInfo = adminActionTypes[action] || { category: 'unknown', riskLevel: 'medium' };\n\nconst securityAnalysis = {\n  isNewLocation: data?.isNewLocation || false,\n  isNewDevice: data?.isNewDevice || false,\n  suspiciousActivity: data?.multipleFailedAttempts || false\n};\n\nconst riskScore = (securityAnalysis.isNewLocation ? 20 : 0) + (securityAnalysis.isNewDevice ? 30 : 0) + (securityAnalysis.suspiciousActivity ? 50 : 0);\n\nreturn {\n  json: {\n    adminId,\n    action,\n    actionInfo,\n    securityAnalysis,\n    riskScore,\n    processedAt: new Date().toISOString(),\n    requiresImmediateAction: actionInfo.riskLevel === 'critical' || riskScore > 70\n  }\n};"
      },
      "id": "g2h3i4j5-4567-7890-12de-code1analyze",
      "name": "Analyze Admin Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.actionInfo.riskLevel }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-if1critical",
      "name": "Is Critical Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fire-new-globul.firebaseapp.com/api/critical-incident",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "adminId",
              "value": "={{ $json.adminId }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "riskScore",
              "value": "={{ $json.riskScore }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.processedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-http1critical",
      "name": "Handle Critical Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fire-new-globul.firebaseapp.com/api/admin-analytics",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "adminId",
              "value": "={{ $json.adminId }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "riskScore",
              "value": "={{ $json.riskScore }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.processedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "g2h3i4j5-4567-7890-12de-http2analytics",
      "name": "Log Admin Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 700],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Admin Login": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Admin Action": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Analytics Viewed": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - System Alert": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Admin Activity": {
      "main": [
        [
          {
            "node": "Is Critical Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical Event?": {
      "main": [
        [
          {
            "node": "Handle Critical Incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Admin Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Critical Incident": {
      "main": [
        [
          {
            "node": "Log Admin Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "instanceId": "globul-cars-instance"
  },
  "id": "workflow-6-business-intelligence",
  "tags": []
}