DDD/UNNECESSARY_FILES_OCT_22/n8n-workflows/01-sell-process-started.json
{
  "name": "Globul Cars - Sell Process Started",
  "nodes": [
    {
      "parameters": {
        "path": "sell-started",
        "options": {}
      },
      "id": "f4f89a8f-75e6-4e61-b3e1-c1234567890a",
      "name": "Webhook - Sell Started",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "globul-sell-started"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userId",
              "value": "={{$json.userId}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json.timestamp}}"
            },
            {
              "name": "event",
              "value": "sell_started"
            },
            {
              "name": "source",
              "value": "globul_cars_web"
            },
            {
              "name": "processedAt",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2b89a8f-75e6-4e61-b3e1-c1234567890b",
      "name": "Set Data Structure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// معالجة بيانات بدء عملية البيع\nconst { userId, timestamp, source } = items[0].json;\n\n// تحليل نوع المستخدم\nconst userAnalysis = {\n  isNewUser: !userId || userId.includes('temp'),\n  timestamp: new Date(timestamp),\n  dayOfWeek: new Date(timestamp).getDay(),\n  hourOfDay: new Date(timestamp).getHours()\n};\n\n// اقتراحات بناء على التوقيت\nlet suggestions = [];\nif (userAnalysis.hourOfDay >= 9 && userAnalysis.hourOfDay <= 17) {\n  suggestions.push('Peak selling hours - high visibility expected');\n}\nif (userAnalysis.dayOfWeek >= 1 && userAnalysis.dayOfWeek <= 5) {\n  suggestions.push('Weekday listing - business buyers active');\n}\n\n// إرجاع البيانات المعالجة\nreturn [{\n  json: {\n    userId,\n    timestamp,\n    source,\n    userAnalysis,\n    suggestions,\n    nextStep: 'vehicle_type_selection',\n    processingComplete: true\n  }\n}];"
      },
      "id": "c3c89a8f-75e6-4e61-b3e1-c1234567890c",
      "name": "Process Sell Start Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/log-event",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"event\": \"sell_process_started\",\n  \"userId\": \"{{$json.userId}}\",\n  \"timestamp\": \"{{$json.timestamp}}\",\n  \"source\": \"{{$json.source}}\",\n  \"analysis\": {{JSON.stringify($json.userAnalysis)}},\n  \"suggestions\": {{JSON.stringify($json.suggestions)}}\n}",
        "headerParametersJson": "{\n  \"Content-Type\": \"application/json\",\n  \"User-Agent\": \"n8n-globul-cars/1.0\"\n}"
      },
      "id": "d4d89a8f-75e6-4e61-b3e1-c1234567890d",
      "name": "Log to Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "noreply@globul.net",
        "toEmail": "admin@globul.net",
        "subject": "🚀 New Car Listing Started - {{$json.userId}}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', Arial, sans-serif; margin: 0; padding: 20px; background: #f8f9fa; }\n    .container { max-width: 600px; margin: 0 auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #ff8f10, #005ca9); color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; }\n    .info-card { background: #f8f9fa; border-left: 4px solid #ff8f10; padding: 20px; margin: 20px 0; border-radius: 8px; }\n    .timestamp { color: #6c757d; font-size: 14px; }\n    .suggestions { background: #e3f2fd; padding: 15px; border-radius: 8px; margin: 15px 0; }\n    .footer { background: #2c3e50; color: white; padding: 20px; text-align: center; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🚗 Globul Cars</h1>\n      <h2>New Sell Process Started</h2>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"info-card\">\n        <h3>📊 User Information</h3>\n        <p><strong>User ID:</strong> {{$json.userId}}</p>\n        <p><strong>Source:</strong> {{$json.source}}</p>\n        <p class=\"timestamp\"><strong>Time:</strong> {{$json.timestamp}}</p>\n      </div>\n      \n      <div class=\"suggestions\">\n        <h3>💡 Analysis & Suggestions</h3>\n        <ul>\n          {{#each $json.suggestions}}\n          <li>{{this}}</li>\n          {{/each}}\n        </ul>\n      </div>\n      \n      <div class=\"info-card\">\n        <h3>🎯 Next Steps</h3>\n        <p>User will proceed to: <strong>{{$json.nextStep}}</strong></p>\n        <p>Processing Status: <strong>{{$json.processingComplete}}</strong></p>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p>📧 Generated by n8n automation system</p>\n      <p>🕐 {{new Date().toLocaleString('bg-BG')}}</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "e5e89a8f-75e6-4e61-b3e1-c1234567890e",
      "name": "Send Admin Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 500],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Sell Started": {
      "main": [
        [
          {
            "node": "Set Data Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data Structure": {
      "main": [
        [
          {
            "node": "Process Sell Start Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sell Start Data": {
      "main": [
        [
          {
            "node": "Log to Firebase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Admin Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "00000000-0000-0000-0000-000000000000",
  "id": "1",
  "meta": {
    "instanceId": "globul-cars-development"
  },
  "tags": [
    {
      "createdAt": "2025-10-16T00:00:00.000Z",
      "updatedAt": "2025-10-16T00:00:00.000Z",
      "id": "globul-cars",
      "name": "Globul Cars"
    }
  ]
}