DDD/UNNECESSARY_FILES_OCT_22/n8n-workflows/03-complete-sell-workflow.json
{
  "name": "Globul Cars - Complete Sell Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "seller-type-selected",
        "options": {}
      },
      "id": "webhook-seller-type",
      "name": "Webhook - Seller Type Selected",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "seller-type-webhook"
    },
    {
      "parameters": {
        "path": "vehicle-data-entered",
        "options": {}
      },
      "id": "webhook-vehicle-data",
      "name": "Webhook - Vehicle Data Entered",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "webhookId": "vehicle-data-webhook"
    },
    {
      "parameters": {
        "path": "equipment-selected",
        "options": {}
      },
      "id": "webhook-equipment",
      "name": "Webhook - Equipment Selected",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 700],
      "webhookId": "equipment-webhook"
    },
    {
      "parameters": {
        "path": "images-uploaded",
        "options": {}
      },
      "id": "webhook-images",
      "name": "Webhook - Images Uploaded",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 900],
      "webhookId": "images-webhook"
    },
    {
      "parameters": {
        "path": "price-set",
        "options": {}
      },
      "id": "webhook-price",
      "name": "Webhook - Price Set",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 1100],
      "webhookId": "price-webhook"
    },
    {
      "parameters": {
        "path": "contact-info-entered",
        "options": {}
      },
      "id": "webhook-contact",
      "name": "Webhook - Contact Info Entered",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 1300],
      "webhookId": "contact-webhook"
    },
    {
      "parameters": {
        "path": "listing-published",
        "options": {}
      },
      "id": "webhook-published",
      "name": "Webhook - Listing Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 1500],
      "webhookId": "published-webhook"
    },
    {
      "parameters": {
        "functionCode": "// تحليل مسار البيع الكامل\nconst inputData = items[0].json;\nconst { step, userId, data, timestamp } = inputData;\n\n// تحديد مرحلة البيع\nconst sellSteps = {\n  'seller_type': {\n    stepNumber: 2,\n    completion: 20,\n    nextStep: 'vehicle_data',\n    criticalData: ['sellerType', 'businessInfo']\n  },\n  'vehicle_data': {\n    stepNumber: 3,\n    completion: 40,\n    nextStep: 'equipment',\n    criticalData: ['make', 'model', 'year', 'mileage']\n  },\n  'equipment': {\n    stepNumber: 4,\n    completion: 60,\n    nextStep: 'images',\n    criticalData: ['safety', 'comfort', 'tech']\n  },\n  'images': {\n    stepNumber: 5,\n    completion: 75,\n    nextStep: 'price',\n    criticalData: ['imageCount', 'mainImage']\n  },\n  'price': {\n    stepNumber: 6,\n    completion: 90,\n    nextStep: 'contact',\n    criticalData: ['price', 'currency', 'negotiable']\n  },\n  'contact': {\n    stepNumber: 7,\n    completion: 95,\n    nextStep: 'publish',\n    criticalData: ['name', 'phone', 'location']\n  },\n  'published': {\n    stepNumber: 8,\n    completion: 100,\n    nextStep: 'complete',\n    criticalData: ['listingId', 'publicUrl']\n  }\n};\n\n// الحصول على معلومات الخطوة\nconst stepInfo = sellSteps[step] || {\n  stepNumber: 1,\n  completion: 10,\n  nextStep: 'unknown',\n  criticalData: []\n};\n\n// تحليل جودة البيانات\nconst dataQuality = {\n  complete: stepInfo.criticalData.every(field => data && data[field]),\n  missing: stepInfo.criticalData.filter(field => !data || !data[field]),\n  score: data ? (Object.keys(data).length / stepInfo.criticalData.length) * 100 : 0\n};\n\n// اكتشاف نقاط التوقف المحتملة\nconst dropOffRisk = {\n  high: stepInfo.completion > 80 && dataQuality.score < 70,\n  medium: stepInfo.completion > 50 && dataQuality.score < 50,\n  low: dataQuality.score > 80\n};\n\n// تحديد التدخلات المطلوبة\nlet interventions = [];\nif (dropOffRisk.high) {\n  interventions.push('Send urgent assistance offer');\n  interventions.push('Activate customer support chat');\n}\nif (dataQuality.missing.length > 0) {\n  interventions.push(`Help with: ${dataQuality.missing.join(', ')}`);\n}\nif (stepInfo.completion > 70) {\n  interventions.push('Send completion encouragement');\n}\n\n// تحليل التوقيت\nconst timeAnalysis = {\n  currentTime: new Date(timestamp),\n  hour: new Date(timestamp).getHours(),\n  isBusinessHours: new Date(timestamp).getHours() >= 9 && new Date(timestamp).getHours() <= 17,\n  isWeekend: [0, 6].includes(new Date(timestamp).getDay())\n};\n\n// اقتراحات تحسين التحويل\nlet conversionTips = [];\nif (!timeAnalysis.isBusinessHours) {\n  conversionTips.push('Consider follow-up during business hours');\n}\nif (stepInfo.completion > 50 && stepInfo.completion < 100) {\n  conversionTips.push('High-intent user - prioritize for support');\n}\n\nreturn [{\n  json: {\n    userId,\n    step,\n    stepInfo,\n    dataQuality,\n    dropOffRisk,\n    interventions,\n    timeAnalysis,\n    conversionTips,\n    processedAt: new Date().toISOString(),\n    needsAttention: dropOffRisk.high || dataQuality.score < 50\n  }\n}];"
      },
      "id": "analyze-sell-funnel",
      "name": "Analyze Sell Funnel",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 800]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needsAttention}}",
              "value2": true
            }
          ]
        }
      },
      "id": "needs-attention-check",
      "name": "Needs Attention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [820, 800]
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/urgent-intervention",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"userId\": \"{{$json.userId}}\",\n  \"step\": \"{{$json.step}}\",\n  \"riskLevel\": \"high\",\n  \"interventions\": {{JSON.stringify($json.interventions)}},\n  \"dataQuality\": {{$json.dataQuality.score}},\n  \"timestamp\": \"{{$json.processedAt}}\"\n}",
        "options": {}
      },
      "id": "urgent-intervention",
      "name": "Send Urgent Intervention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/sell-funnel-analytics",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"userId\": \"{{$json.userId}}\",\n  \"step\": \"{{$json.step}}\",\n  \"completion\": {{$json.stepInfo.completion}},\n  \"dataQuality\": {{$json.dataQuality.score}},\n  \"timeAnalysis\": {{JSON.stringify($json.timeAnalysis)}},\n  \"conversionTips\": {{JSON.stringify($json.conversionTips)}},\n  \"timestamp\": \"{{$json.processedAt}}\"\n}",
        "options": {}
      },
      "id": "log-analytics",
      "name": "Log Sell Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 900],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Seller Type Selected": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Vehicle Data Entered": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Equipment Selected": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Images Uploaded": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Price Set": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Contact Info Entered": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Listing Published": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sell Funnel": {
      "main": [
        [
          {
            "node": "Needs Attention?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Attention?": {
      "main": [
        [
          {
            "node": "Send Urgent Intervention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sell Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent Intervention": {
      "main": [
        [
          {
            "node": "Log Sell Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "00000000-0000-0000-0000-000000000000"
}