DDD/UNNECESSARY_FILES_OCT_22/n8n-workflows/03-workflow-CLOUD-VERSION.json
{
  "name": "Globul Cars - Complete Sell Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seller-type-selected",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook1seller",
      "name": "Webhook - Seller Type",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "seller-type-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vehicle-data-entered",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook2vehicle",
      "name": "Webhook - Vehicle Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500],
      "webhookId": "vehicle-data-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "equipment-selected",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook3equipment",
      "name": "Webhook - Equipment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 700],
      "webhookId": "equipment-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "images-uploaded",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook4images",
      "name": "Webhook - Images",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 900],
      "webhookId": "images-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "price-set",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook5price",
      "name": "Webhook - Price",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 1100],
      "webhookId": "price-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-info-entered",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook6contact",
      "name": "Webhook - Contact",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 1300],
      "webhookId": "contact-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listing-published",
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-webhook7published",
      "name": "Webhook - Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 1500],
      "webhookId": "published-webhook"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst { step, userId, data, timestamp } = inputData;\n\nconst sellSteps = {\n  'seller_type': { stepNumber: 2, completion: 20 },\n  'vehicle_data': { stepNumber: 3, completion: 40 },\n  'equipment': { stepNumber: 4, completion: 60 },\n  'images': { stepNumber: 5, completion: 75 },\n  'price': { stepNumber: 6, completion: 90 },\n  'contact': { stepNumber: 7, completion: 95 },\n  'published': { stepNumber: 8, completion: 100 }\n};\n\nconst stepInfo = sellSteps[step] || { stepNumber: 1, completion: 10 };\n\nreturn {\n  json: {\n    userId,\n    step,\n    stepInfo,\n    processedAt: new Date().toISOString(),\n    completion: stepInfo.completion,\n    needsAttention: stepInfo.completion < 50\n  }\n};"
      },
      "id": "d8c7a4b1-1234-4567-89ab-function1analyze",
      "name": "Analyze Sell Funnel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.needsAttention }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-if1attention",
      "name": "Needs Attention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fire-new-globul.firebaseapp.com/api/urgent-intervention",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "step",
              "value": "={{ $json.step }}"
            },
            {
              "name": "completion",
              "value": "={{ $json.completion }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.processedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-http1intervention",
      "name": "Send Urgent Intervention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fire-new-globul.firebaseapp.com/api/sell-funnel-analytics",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "step",
              "value": "={{ $json.step }}"
            },
            {
              "name": "completion",
              "value": "={{ $json.completion }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.processedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8c7a4b1-1234-4567-89ab-http2analytics",
      "name": "Log Sell Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 900],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Seller Type": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Vehicle Data": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Equipment": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Images": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Price": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Contact": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Published": {
      "main": [
        [
          {
            "node": "Analyze Sell Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sell Funnel": {
      "main": [
        [
          {
            "node": "Needs Attention?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Attention?": {
      "main": [
        [
          {
            "node": "Send Urgent Intervention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sell Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent Intervention": {
      "main": [
        [
          {
            "node": "Log Sell Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "instanceId": "globul-cars-instance"
  },
  "id": "workflow-3-complete-sell",
  "tags": []
}