DDD/UNNECESSARY_FILES_OCT_22/n8n-workflows/06-business-intelligence-admin.json
{
  "name": "Globul Cars - Business Intelligence & Admin Monitoring",
  "nodes": [
    {
      "parameters": {
        "path": "admin-login",
        "options": {}
      },
      "id": "webhook-admin-login",
      "name": "Webhook - Admin Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "admin-login-webhook"
    },
    {
      "parameters": {
        "path": "admin-action",
        "options": {}
      },
      "id": "webhook-admin-action",
      "name": "Webhook - Admin Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "webhookId": "admin-action-webhook"
    },
    {
      "parameters": {
        "path": "analytics-viewed",
        "options": {}
      },
      "id": "webhook-analytics-viewed",
      "name": "Webhook - Analytics Viewed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 700],
      "webhookId": "analytics-viewed-webhook"
    },
    {
      "parameters": {
        "path": "system-alert",
        "options": {}
      },
      "id": "webhook-system-alert",
      "name": "Webhook - System Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 900],
      "webhookId": "system-alert-webhook"
    },
    {
      "parameters": {
        "functionCode": "// تحليل شامل للإدارة والتحليلات التجارية\nconst inputData = items[0].json;\nconst { action, adminId, data, timestamp } = inputData;\n\n// تصنيف أنواع الأنشطة الإدارية\nconst adminActionTypes = {\n  'admin_login': {\n    category: 'security',\n    riskLevel: 'medium',\n    requiresLogging: true,\n    alertThreshold: 5\n  },\n  'admin_action': {\n    category: 'management',\n    riskLevel: 'high',\n    requiresLogging: true,\n    alertThreshold: 1\n  },\n  'analytics_viewed': {\n    category: 'monitoring',\n    riskLevel: 'low',\n    requiresLogging: true,\n    alertThreshold: 50\n  },\n  'system_alert': {\n    category: 'incident',\n    riskLevel: 'critical',\n    requiresLogging: true,\n    alertThreshold: 1\n  }\n};\n\n// الحصول على معلومات النشاط\nconst actionInfo = adminActionTypes[action] || {\n  category: 'unknown',\n  riskLevel: 'medium',\n  requiresLogging: true,\n  alertThreshold: 10\n};\n\n// تحليل المشرف\nconst adminAnalysis = {\n  adminId,\n  role: data?.role || 'admin',\n  department: data?.department || 'general',\n  accessLevel: data?.accessLevel || 'standard',\n  loginMethod: data?.loginMethod || 'password',\n  ipAddress: data?.ipAddress,\n  userAgent: data?.userAgent,\n  location: data?.location\n};\n\n// تحليل الأمان\nconst securityAnalysis = {\n  isNewLocation: data?.isNewLocation || false,\n  isNewDevice: data?.isNewDevice || false,\n  suspiciousActivity: data?.multipleFailedAttempts || false,\n  outsideBusinessHours: new Date(timestamp).getHours() < 8 || new Date(timestamp).getHours() > 18,\n  isWeekend: [0, 6].includes(new Date(timestamp).getDay()),\n  riskScore: 0\n};\n\n// حساب نقاط المخاطر\nsecurityAnalysis.riskScore = \n  (securityAnalysis.isNewLocation ? 20 : 0) +\n  (securityAnalysis.isNewDevice ? 30 : 0) +\n  (securityAnalysis.suspiciousActivity ? 50 : 0) +\n  (securityAnalysis.outsideBusinessHours ? 10 : 0) +\n  (securityAnalysis.isWeekend ? 5 : 0);\n\n// تحليل الإجراء المحدد\nconst actionAnalysis = {\n  actionType: data?.actionType,\n  targetResource: data?.targetResource,\n  modifications: data?.modifications || [],\n  affectedUsers: data?.affectedUsers || 0,\n  dataModified: data?.dataModified || false,\n  systemChanges: data?.systemChanges || false\n};\n\n// تحليل التأثير التجاري\nconst businessImpact = {\n  severity: actionInfo.riskLevel,\n  usersAffected: actionAnalysis.affectedUsers,\n  systemsAffected: data?.systemsAffected || [],\n  downtime: data?.downtime || 0,\n  revenueImpact: actionAnalysis.affectedUsers > 100 ? 'high' : \n                actionAnalysis.affectedUsers > 10 ? 'medium' : 'low'\n};\n\n// تحليل النظام والأداء\nconst systemAnalysis = action === 'system_alert' ? {\n  alertType: data?.alertType,\n  severity: data?.severity || 'medium',\n  component: data?.component,\n  errorCode: data?.errorCode,\n  errorMessage: data?.errorMessage,\n  affectedFeatures: data?.affectedFeatures || [],\n  autoResolution: data?.autoResolution || false\n} : null;\n\n// تحليل التحليلات المشاهدة\nconst analyticsAnalysis = action === 'analytics_viewed' ? {\n  reportType: data?.reportType,\n  dateRange: data?.dateRange,\n  metrics: data?.metrics || [],\n  exportFormat: data?.exportFormat,\n  scheduledReport: data?.scheduled || false\n} : null;\n\n// تحديد التنبيهات المطلوبة\nlet alertsRequired = [];\nif (securityAnalysis.riskScore > 50) {\n  alertsRequired.push('high_risk_admin_activity');\n}\nif (actionInfo.riskLevel === 'critical') {\n  alertsRequired.push('critical_system_event');\n}\nif (businessImpact.usersAffected > 100) {\n  alertsRequired.push('high_impact_change');\n}\nif (securityAnalysis.isNewLocation && adminAnalysis.accessLevel === 'super_admin') {\n  alertsRequired.push('super_admin_new_location');\n}\n\n// تحديد الإجراءات التلقائية\nlet automatedActions = [];\nif (securityAnalysis.riskScore > 70) {\n  automatedActions.push('require_additional_verification');\n  automatedActions.push('log_detailed_session');\n}\nif (actionInfo.riskLevel === 'critical') {\n  automatedActions.push('notify_all_admins');\n  automatedActions.push('create_incident_ticket');\n}\nif (businessImpact.downtime > 0) {\n  automatedActions.push('activate_incident_response');\n}\n\n// إنشاء تقرير الحدث\nconst eventReport = {\n  eventId: `${action}_${adminId}_${Date.now()}`,\n  summary: `${action} by ${adminAnalysis.role} ${adminId}`,\n  details: {\n    admin: adminAnalysis,\n    security: securityAnalysis,\n    action: actionAnalysis,\n    business: businessImpact,\n    system: systemAnalysis,\n    analytics: analyticsAnalysis\n  },\n  classification: {\n    severity: actionInfo.riskLevel,\n    category: actionInfo.category,\n    requiresReview: securityAnalysis.riskScore > 30 || actionInfo.riskLevel === 'critical'\n  }\n};\n\n// تحليل الاتجاهات\nconst trendAnalysis = {\n  timestamp: new Date(timestamp),\n  hour: new Date(timestamp).getHours(),\n  dayOfWeek: new Date(timestamp).getDay(),\n  isBusinessHours: new Date(timestamp).getHours() >= 8 && new Date(timestamp).getHours() <= 18,\n  patternType: securityAnalysis.outsideBusinessHours ? 'after_hours' : 'business_hours',\n  frequency: 'single_event' // يمكن تطويرها لتتبع التكرار\n};\n\n// تحديد مستوى الاستجابة\nconst responseLevel = {\n  priority: securityAnalysis.riskScore > 70 ? 'urgent' :\n           actionInfo.riskLevel === 'critical' ? 'high' :\n           securityAnalysis.riskScore > 30 ? 'medium' : 'low',\n  timeframe: securityAnalysis.riskScore > 70 ? 'immediate' :\n            actionInfo.riskLevel === 'critical' ? '15 minutes' :\n            securityAnalysis.riskScore > 30 ? '1 hour' : '24 hours',\n  escalation: securityAnalysis.riskScore > 90 || businessImpact.usersAffected > 500\n};\n\nreturn [{\n  json: {\n    adminId,\n    action,\n    actionInfo,\n    adminAnalysis,\n    securityAnalysis,\n    actionAnalysis,\n    businessImpact,\n    systemAnalysis,\n    analyticsAnalysis,\n    alertsRequired,\n    automatedActions,\n    eventReport,\n    trendAnalysis,\n    responseLevel,\n    processedAt: new Date().toISOString(),\n    requiresImmediateAction: responseLevel.priority === 'urgent' || responseLevel.escalation\n  }\n}];"
      },
      "id": "analyze-admin-activity",
      "name": "Analyze Admin Activity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 650]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.actionInfo.riskLevel}}",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "is-critical-event",
      "name": "Is Critical Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 650]
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/critical-incident",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"eventId\": \"{{$json.eventReport.eventId}}\",\n  \"adminId\": \"{{$json.adminId}}\",\n  \"action\": \"{{$json.action}}\",\n  \"severity\": \"{{$json.actionInfo.riskLevel}}\",\n  \"businessImpact\": {{JSON.stringify($json.businessImpact)}},\n  \"securityRisk\": {{$json.securityAnalysis.riskScore}},\n  \"alertsRequired\": {{JSON.stringify($json.alertsRequired)}},\n  \"responseLevel\": {{JSON.stringify($json.responseLevel)}},\n  \"timestamp\": \"{{$json.processedAt}}\"\n}",
        "options": {}
      },
      "id": "handle-critical-incident",
      "name": "Handle Critical Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [940, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/admin-analytics",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"eventReport\": {{JSON.stringify($json.eventReport)}},\n  \"trendAnalysis\": {{JSON.stringify($json.trendAnalysis)}},\n  \"securityAnalysis\": {{JSON.stringify($json.securityAnalysis)}},\n  \"businessImpact\": {{JSON.stringify($json.businessImpact)}},\n  \"timestamp\": \"{{$json.processedAt}}\"\n}",
        "options": {}
      },
      "id": "log-admin-analytics",
      "name": "Log Admin Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [940, 750],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.securityAnalysis.riskScore}}",
              "operation": "larger",
              "value2": 50
            }
          ]
        }
      },
      "id": "high-security-risk",
      "name": "High Security Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1160, 650]
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/security-alert",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"adminId\": \"{{$json.adminId}}\",\n  \"riskScore\": {{$json.securityAnalysis.riskScore}},\n  \"riskFactors\": {\n    \"newLocation\": {{$json.securityAnalysis.isNewLocation}},\n    \"newDevice\": {{$json.securityAnalysis.isNewDevice}},\n    \"suspiciousActivity\": {{$json.securityAnalysis.suspiciousActivity}},\n    \"outsideBusinessHours\": {{$json.securityAnalysis.outsideBusinessHours}}\n  },\n  \"adminDetails\": {{JSON.stringify($json.adminAnalysis)}},\n  \"recommendedActions\": {{JSON.stringify($json.automatedActions)}},\n  \"timestamp\": \"{{$json.processedAt}}\"\n}",
        "options": {}
      },
      "id": "send-security-alert",
      "name": "Send Security Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1380, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.requiresImmediateAction}}",
              "value2": true
            }
          ]
        }
      },
      "id": "requires-immediate-action",
      "name": "Requires Immediate Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1380, 750]
    },
    {
      "parameters": {
        "url": "https://fire-new-globul.firebaseapp.com/api/emergency-response",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"eventId\": \"{{$json.eventReport.eventId}}\",\n  \"emergencyLevel\": \"{{$json.responseLevel.priority}}\",\n  \"escalation\": {{$json.responseLevel.escalation}},\n  \"timeframe\": \"{{$json.responseLevel.timeframe}}\",\n  \"eventDetails\": {{JSON.stringify($json.eventReport)}},\n  \"automatedActions\": {{JSON.stringify($json.automatedActions)}},\n  \"alertsRequired\": {{JSON.stringify($json.alertsRequired)}},\n  \"timestamp\": \"{{$json.processedAt}}\"\n}",
        "options": {}
      },
      "id": "trigger-emergency-response",
      "name": "Trigger Emergency Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1600, 650],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Admin Login": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Admin Action": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Analytics Viewed": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - System Alert": {
      "main": [
        [
          {
            "node": "Analyze Admin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Admin Activity": {
      "main": [
        [
          {
            "node": "Is Critical Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical Event?": {
      "main": [
        [
          {
            "node": "Handle Critical Incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Admin Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Critical Incident": {
      "main": [
        [
          {
            "node": "Log Admin Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Admin Analytics": {
      "main": [
        [
          {
            "node": "High Security Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Security Risk?": {
      "main": [
        [
          {
            "node": "Send Security Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Requires Immediate Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Security Alert": {
      "main": [
        [
          {
            "node": "Requires Immediate Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requires Immediate Action?": {
      "main": [
        [
          {
            "node": "Trigger Emergency Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "00000000-0000-0000-0000-000000000000"
}